<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ApicasesPerformancestatisticsMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.ApicasesPerformancestatistics">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="caseid" jdbcType="BIGINT" property="caseid" />
    <result column="testplanid" jdbcType="BIGINT" property="testplanid" />
    <result column="batchname" jdbcType="VARCHAR" property="batchname" />
    <result column="runtime" jdbcType="DOUBLE" property="runtime" />
    <result column="slaverid" jdbcType="BIGINT" property="slaverid" />
    <result column="samples" jdbcType="BIGINT" property="samples" />
    <result column="errorcount" jdbcType="BIGINT" property="errorcount" />
    <result column="errorrate" jdbcType="DOUBLE" property="errorrate" />
    <result column="average" jdbcType="DOUBLE" property="average" />
    <result column="min" jdbcType="DOUBLE" property="min" />
    <result column="max" jdbcType="DOUBLE" property="max" />
    <result column="median" jdbcType="DOUBLE" property="median" />
    <result column="nzpct" jdbcType="DOUBLE" property="nzpct" />
    <result column="nfpct" jdbcType="DOUBLE" property="nfpct" />
    <result column="nnpct" jdbcType="DOUBLE" property="nnpct" />
    <result column="tps" jdbcType="DOUBLE" property="tps" />
    <result column="receivekbsec" jdbcType="BIGINT" property="receivekbsec" />
    <result column="sendkbsec" jdbcType="BIGINT" property="sendkbsec" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
</mapper>