<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ConditionScriptMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.ConditionScript">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="conditionid" jdbcType="BIGINT" property="conditionid" />
    <result column="script" jdbcType="VARCHAR" property="script" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>

  <select id="findtestconditionscriptWithName" resultMap="BaseResultMap">
    SELECT *
    FROM condition_script
    <where>
      <if test="conditionname != null and conditionname != ''">conditionname like CONCAT('%',#{conditionname},'%')</if>
    </where>
    order by lastmodify_time  DESC
  </select>

  <select id="getconditionscriptbyid" resultMap="BaseResultMap">
    SELECT *
    FROM condition_script where conditionid =#{conditionid}
  </select>

  <update id="updateTestconditionScript" parameterType="com.zoctan.api.entity.ConditionScript">
    update condition_script set conditionid = #{conditionid}, script = #{script},creator = #{creator}, lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>
</mapper>