<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.MachineMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Machine">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="machinename" jdbcType="VARCHAR" property="machinename" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="cpu" jdbcType="VARCHAR" property="cpu" />
    <result column="disk" jdbcType="VARCHAR" property="disk" />
    <result column="mem" jdbcType="VARCHAR" property="mem" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>
</mapper>