<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ApicasesReportMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.ApicasesReport">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="caseid" jdbcType="BIGINT" property="caseid" />
    <result column="testplanid" jdbcType="BIGINT" property="testplanid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="batchname" jdbcType="VARCHAR" property="batchname" />
    <result column="slaverid" jdbcType="BIGINT" property="slaverid" />
    <result column="respone" jdbcType="VARCHAR" property="respone" />
    <result column="assertvalue" jdbcType="VARCHAR" property="assertvalue" />
    <result column="runtime" jdbcType="BIGINT" property="runtime" />
    <result column="expect" jdbcType="VARCHAR" property="expect" />
    <result column="errorinfo" jdbcType="VARCHAR" property="errorinfo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>

  <select id="findApicasereportWithName" resultMap="BaseResultMap">
    SELECT b.casename,b.apiname,a.status,a.batchname,b.deployunitname,a.respone,a.assertvalue,a.runtime,a.expect,a.create_time
    FROM apicases_report a inner join apicases b on a.caseid=b.id
    <where>
      <if test="testplanid != null and testplanid != ''">a.testplanid =#{testplanid}</if>
      <if test="batchname != null  and batchname != ''">and a.batchname =#{batchname}</if>
    </where>
  </select>

  <select id="listallresult" resultMap="BaseResultMap">
    SELECT b.casename,b.apiname,a.status,a.batchname,b.deployunitname,a.respone,a.assertvalue,a.runtime,a.expect,a.create_time
    FROM apicases_report a inner join apicases b on a.caseid=b.id
  </select>

  <insert id="addcasereport">
    INSERT INTO apicases_report (caseid, testplanid,batchname,slaverid,status,respone,assertvalue,runtime,expect,errorinfo,create_time,lastmodify_time,creator)
    VALUES (#{caseid},#{testplanid},#{batchname},#{slaverid},#{status},#{respone},#{assertvalue},#{runtime},#{expect},#{errorinfo},DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s'), DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s'),'')
  </insert>
</mapper>