<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ApiParamsMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.ApiParams">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="apiid" jdbcType="BIGINT" property="apiid" />
    <result column="apiname" jdbcType="VARCHAR" property="apiname" />
    <result column="deployunitid" jdbcType="VARCHAR" property="deployunitid" />
    <result column="deployunitname" jdbcType="VARCHAR" property="deployunitname" />
    <result column="propertytype" jdbcType="VARCHAR" property="propertytype" />
    <result column="keyname" jdbcType="LONGVARCHAR" property="keyname" />
    <result column="keynamebak" jdbcType="LONGVARCHAR" property="keynamebak" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <select id="findApiParamsWithName" resultMap="BaseResultMap">
    SELECT a.*
    FROM api_params a
    <where>
      <if test="apiname != null and apiname != ''">a.apiname = #{apiname}</if>
      <if test="deployunitname != null  and deployunitname != ''">and a.deployunitname = #{deployunitname}</if>
    </where>
  </select>

  <select id="getApiParamsbypropertytype" resultMap="BaseResultMap">
    SELECT apiid,propertytype,keyname
    FROM api_params a where a.apiid=#{apiid} and a.propertytype = #{propertytype}
  </select>

  <select id="getDistinctApiParamsbyid" resultMap="BaseResultMap">
    SELECT DISTINCT propertytype
    FROM api_params a where a.apiid=#{apiid}
  </select>

  <update id="updateApiParams" parameterType="com.zoctan.api.entity.ApiParams">
    update api_params set apiname = #{apiname},deployunitid =#{deployunitid}, deployunitname = #{deployunitname}, propertytype = #{propertytype},
    keyname = #{keyname},creator = #{creator},
    lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s')
    where id = #{id};
  </update>
</mapper>