<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ExecuteplanMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Executeplan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="envid" jdbcType="BIGINT" property="envid" />
    <result column="enviromentname" jdbcType="VARCHAR" property="enviromentname" />
    <result column="executeplanname" jdbcType="VARCHAR" property="executeplanname" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="usetype" jdbcType="VARCHAR" property="usetype" />
    <result column="businesstype" jdbcType="VARCHAR" property="businesstype" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="enviromentname" jdbcType="VARCHAR" property="enviromentname" />
    <result column="runmode" jdbcType="VARCHAR" property="runmode" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="projectid" jdbcType="BIGINT" property="projectid" />
  </resultMap>

  <select id="findexplanWithName" resultMap="BaseResultMap">
    SELECT a.*
    FROM executeplan a
    <where>
      <if test="executeplanname != null and executeplanname != ''">a.executeplanname like CONCAT('%',#{executeplanname},'%')</if>
    </where>
  </select>

  <update id="updateexecuteplanname" parameterType="com.zoctan.api.entity.Executeplan">
    update executeplan set executeplanname = #{executeplanname}, usetype=#{usetype}, memo = #{memo},ip =#{ip}, lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s')
    where id = #{id};
  </update>

  <update id="updatetestplanstatus">
    update  executeplan set status=#{status} , lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s') where id = #{id}
  </update>

  <select id="findexplanWithid" resultMap="BaseResultMap">
    SELECT a.*
    FROM executeplan a
    where a.id=#{id}
  </select>
</mapper>