<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.GlobalheaderParamsMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.GlobalheaderParams">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="globalheaderid" jdbcType="BIGINT" property="globalheaderid" />
    <result column="keyname" jdbcType="VARCHAR" property="keyname" />
    <result column="keyvalue" jdbcType="VARCHAR" property="keyvalue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <select id="findGlobalheaderParamsWithName" resultMap="BaseResultMap">
    SELECT a.*
    FROM globalheader_params a
    <where>
      <if test="globalheaderid != null and globalheaderid != ''">a.globalheaderid = #{globalheaderid}</if>
    </where>
    order by lastmodify_time  DESC
  </select>

  <update id="updateGlobalheaderParams" parameterType="com.zoctan.api.entity.GlobalheaderParams">
    update globalheader_params set keyname = #{keyname},keyvalue = #{keyvalue}, lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>
</mapper>