<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.TestvariablesMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Testvariables">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="testvariablesname" jdbcType="VARCHAR" property="testvariablesname" />
    <result column="variablesdes" jdbcType="VARCHAR" property="variablesdes" />
    <result column="testvariablestype" jdbcType="VARCHAR" property="testvariablestype" />
    <result column="variablesexpress" jdbcType="VARCHAR" property="variablesexpress" />
    <result column="valuetype" jdbcType="VARCHAR" property="valuetype" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>

  <select id="findtestvariablesWithName" resultMap="BaseResultMap">
    SELECT a.*
    FROM testvariables a
    <where>
      <if test="testvariablesname != null and testvariablesname != ''">a.testvariablesname like CONCAT('%',#{testvariablesname},'%')</if>
    </where>
    order by lastmodify_time  DESC
  </select>



  <update id="updatetestvariables" parameterType="com.zoctan.api.entity.Testvariables">
    update testvariables set testvariablesname = #{testvariablesname},testvariablestype=#{testvariablestype},variablesexpress=#{variablesexpress},
    variablesdes=#{variablesdes}, memo = #{memo},valuetype=#{valuetype},creator = #{creator}, lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>
</mapper>