<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ApicasesPerformancestatisticsMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.ApicasesPerformancestatistics">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="caseid" jdbcType="BIGINT" property="caseid" />
    <result column="testplanid" jdbcType="BIGINT" property="testplanid" />
    <result column="batchname" jdbcType="VARCHAR" property="batchname" />
    <result column="runtime" jdbcType="DOUBLE" property="runtime" />
    <result column="slaverid" jdbcType="BIGINT" property="slaverid" />
    <result column="samples" jdbcType="BIGINT" property="samples" />
    <result column="errorcount" jdbcType="BIGINT" property="errorcount" />
    <result column="errorrate" jdbcType="DOUBLE" property="errorrate" />
    <result column="average" jdbcType="DOUBLE" property="average" />
    <result column="min" jdbcType="DOUBLE" property="min" />
    <result column="max" jdbcType="DOUBLE" property="max" />
    <result column="median" jdbcType="DOUBLE" property="median" />
    <result column="nzpct" jdbcType="DOUBLE" property="nzpct" />
    <result column="nfpct" jdbcType="DOUBLE" property="nfpct" />
    <result column="nnpct" jdbcType="DOUBLE" property="nnpct" />
    <result column="tps" jdbcType="DOUBLE" property="tps" />
    <result column="receivekbsec" jdbcType="BIGINT" property="receivekbsec" />
    <result column="sendkbsec" jdbcType="BIGINT" property="sendkbsec" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="projectid" jdbcType="BIGINT" property="projectid" />
  </resultMap>

  <select id="findApicasereportWithName" resultMap="BaseResultMap">
    SELECT c.executeplanname,b.casename,a.batchname,a.runtime,a.samples,a.errorcount,a.errorrate,a.average,a.min,a.max,a.median,a.nzpct,a.nfpct,a.nnpct,a.tps,a.receivekbsec,a.sendkbsec,a.create_time
    FROM apicases_performancestatistics a join apicases b join executeplan c  on a.caseid=b.id and a.testplanid=c.id
    <where>
      <if test="testplanid != null and testplanid != ''">a.testplanid =#{testplanid}</if>
      <if test="batchname != null  and batchname != ''">and a.batchname =#{batchname}</if>
      and a.projectid =#{projectid}
    </where>
    order by a.create_time  DESC
  </select>

  <select id="listallresult" resultMap="BaseResultMap">
    SELECT c.executeplanname,b.casename,a.batchname,a.runtime,a.samples,a.errorcount,a.errorrate,a.average,a.min,a.max,a.median,a.nzpct,a.nfpct,a.nnpct,a.tps,a.receivekbsec,a.sendkbsec,a.create_time
    FROM apicases_performancestatistics a join apicases b join executeplan c  on a.caseid=b.id and a.testplanid=c.id     order by a.create_time  DESC
  </select>


  <select id="getresultbyidandname" resultMap="BaseResultMap">
    SELECT b.executeplanname as executeplanname ,a.*
    FROM apicases_performancestatistics a inner join executeplan b on a.testplanid =b.id where a.testplanid=#{testplanid} and a.batchname =#{batchname} and a.projectid =#{projectid}

  </select>
</mapper>