<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ApicasesVariablesMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.ApicasesVariables">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="apiid" jdbcType="BIGINT" property="apiid" />
    <result column="deployunitid" jdbcType="BIGINT" property="deployunitid" />
    <result column="caseid" jdbcType="BIGINT" property="caseid" />
    <result column="casename" jdbcType="VARCHAR" property="casename" />
    <result column="deployunitname" jdbcType="VARCHAR" property="deployunitname" />
    <result column="apiname" jdbcType="VARCHAR" property="apiname" />
    <result column="variablesid" jdbcType="BIGINT" property="variablesid" />
    <result column="variablesname" jdbcType="VARCHAR" property="variablesname" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>

  <select id="findApicasesVariablesWithName" resultMap="BaseResultMap">
    SELECT a.*,b.deployunitname,b.apiname
    FROM apicases_variables a,apicases b
    <where>
      <if test="casename != null and casename != ''">a.casename like CONCAT('%',#{casename},'%')</if>
      <if test="variablesname != null and variablesname != ''">a.variablesname like CONCAT('%',#{variablesname},'%')</if>
      and a.caseid=b.id
    </where>
    order by lastmodify_time  DESC
  </select>

  <select id="getbyvariablesid" resultMap="BaseResultMap">
    SELECT b.casename,a.*
    FROM apicases_variables a inner join apicases b on a.caseid=b.id where a.variablesid=#{variablesid}
  </select>

  <update id="updateApicasesVariables" parameterType="com.zoctan.api.entity.ApicasesVariables">
    update apicases_variables set casename = #{casename},variablesname=#{variablesname},apiid=#{apiid},deployunitid=#{deployunitid},caseid=#{caseid},variablesid=#{variablesid},
    deployunitname=#{deployunitname},apiname=#{apiname} , memo = #{memo},creator = #{creator}, lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>
</mapper>