<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ApiMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Api">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="deployunitid" jdbcType="BIGINT" property="deployunitid" />
    <result column="deployunitname" jdbcType="VARCHAR" property="deployunitname" />
    <result column="apiname" jdbcType="VARCHAR" property="apiname" />
    <result column="visittype" jdbcType="VARCHAR" property="visittype" />
    <result column="requesttype" jdbcType="VARCHAR" property="requesttype" />
    <result column="apistyle" jdbcType="VARCHAR" property="apistyle" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="requestcontenttype" jdbcType="VARCHAR" property="requestcontenttype" />
    <result column="responecontenttype" jdbcType="VARCHAR" property="responecontenttype" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>


  <select id="findApiWithName" resultMap="BaseResultMap">
    SELECT a.*
    FROM api a
    <where>
      <if test="apiname != null and apiname != ''">a.apiname like CONCAT('%',#{apiname},'%')</if>
      <if test="deployunitname != null  and deployunitname != ''">and a.deployunitname like CONCAT('%',#{deployunitname},'%')</if>
    </where>
    order by lastmodify_time  DESC
  </select>

  <select id="listAllbydeploy" resultMap="BaseResultMap">
    SELECT a.*
    FROM api a
    where a.deployunitname=#{deployunitname}
  </select>

  <select id="getresponetypebydeployandapiname" resultMap="BaseResultMap">
    SELECT a.*
    FROM api a
    where a.deployunitname=#{deployunitname} and a.apiname=#{apiname}
  </select>

  <select id="getapinum" resultType="java.lang.Integer">
    SELECT count(*)
    FROM api a
  </select>

  <update id="updateApi" parameterType="com.zoctan.api.entity.Api">
    update api set apiname = #{apiname}, deployunitname = #{deployunitname}, visittype = #{visittype},requesttype = #{requesttype},apistyle=#{apistyle}, path = #{path},
    memo = #{memo}, requestcontenttype = #{requestcontenttype}, responecontenttype =#{responecontenttype},creator = #{creator},  lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>

  <select id="getstaticsdeployapi" resultMap="BaseResultMap">
    SELECT deployunitname ,count(*) as id
    FROM api group by deployunitname
  </select>

  <select id="getapibydeployunitid" resultMap="BaseResultMap">
    SELECT *
    FROM api WHERE deployunitid = #{deployunitid}
  </select>
</mapper>