<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ConditionApiMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.ConditionApi">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="conditionid" jdbcType="BIGINT" property="conditionid" />
    <result column="deployunitid" jdbcType="BIGINT" property="deployunitid" />
    <result column="caseid" jdbcType="BIGINT" property="caseid" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>

  <select id="findtestconditionapiWithName" resultMap="BaseResultMap">
    SELECT d.conditionname ,b.deployunitname, c.casename,a.*
    FROM condition_api a inner join deployunit b on a.deployunitid=b.id inner join apicases c on a.caseid=c.id
    inner join testcondition d on a.conditionid=d.id
    <where>
      <if test="conditionid != null and conditionid != ''">a.conditionid like CONCAT('%',#{conditionid},'%')</if>
    </where>
  </select>

  <update id="updateTestcondition" parameterType="com.zoctan.api.entity.Testcondition">
    update condition_api set conditionid = #{conditionid}, deployunitid = #{deployunitid},caseid=#{caseid},
    memo = #{memo},creator = #{creator}, lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s')
    where id = #{id};
  </update>
</mapper>