<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.DbconditionVariablesMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.DbconditionVariables">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dbconditionid" jdbcType="BIGINT" property="dbconditionid" />
    <result column="dbconditionname" jdbcType="VARCHAR" property="dbconditionname" />
    <result column="variablesid" jdbcType="BIGINT" property="variablesid" />
    <result column="variablesname" jdbcType="VARCHAR" property="variablesname" />
    <result column="fieldname" jdbcType="VARCHAR" property="fieldname" />
    <result column="roworder" jdbcType="BIGINT" property="roworder" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <select id="getbyvariablesid" resultMap="BaseResultMap">
    SELECT b.subconditionname as dbconditionname,a.*
    FROM dbcondition_variables a inner join condition_db b on a.dbconditionid=b.id where a.variablesid=#{variablesid}
  </select>

  <update id="updatedbconditionvariables" parameterType="com.zoctan.api.entity.DbconditionVariables">
    update dbcondition_variables set dbconditionid = #{dbconditionid}, dbconditionname = #{dbconditionname},fieldname=#{fieldname},
         roworder=#{roworder}, memo=#{memo},
     lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>
</mapper>