<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.DeployunitMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Deployunit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="deployunitname" jdbcType="VARCHAR" property="deployunitname" />
    <result column="protocal" jdbcType="VARCHAR" property="protocal" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <resultMap id="deployValueWithNameMap" type="com.zoctan.api.entity.Deployunit" extends="BaseResultMap">
    <result column="deployunitname" jdbcType="VARCHAR" property="deployunitname"/>
    <result column="protocal" jdbcType="VARCHAR" property="protocal"/>
  </resultMap>

  <select id="findDeployNameValueWithCode" resultMap="deployValueWithNameMap">
    SELECT a.deployunitname,a.protocal,a.port
    FROM deployunit a where a.deployunitname = #{deployunitname}
  </select>

  <select id="findDeployWithName" resultMap="deployValueWithNameMap">
    SELECT a.*
    FROM deployunit a
    <where>
      <if test="deployunitname != null and deployunitname != ''">a.deployunitname like CONCAT('%',#{deployunitname},'%')</if>
      <if test="protocal != null  and protocal != ''">and a.protocal like CONCAT('%',#{protocal},'%')</if>
    </where>
    order by lastmodify_time  DESC
  </select>

  <select id="getdeploynum" resultType="java.lang.Integer">
    SELECT count(*)
    FROM deployunit a
  </select>

  <select id="getstaticsdeploynames" resultType="java.lang.String">
    SELECT deployunitname
    FROM deployunit a
  </select>

  <update id="updateDeploy" parameterType="com.zoctan.api.entity.Deployunit">
    update deployunit set deployunitname = #{deployunitname}, protocal = #{protocal}, port = #{port},
    memo = #{memo}, creator = #{creator},lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>


  <select id="findDeployUnitWithid" resultMap="BaseResultMap">
    SELECT a.*
    FROM deployunit a
    where a.id=#{id}
  </select>
</mapper>