<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.EnviromentMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Enviroment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enviromentname" jdbcType="VARCHAR" property="enviromentname" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="envtype" jdbcType="VARCHAR" property="envtype" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <resultMap id="enviromentWithNameMap" type="com.zoctan.api.entity.Enviroment" extends="BaseResultMap">
    <result column="enviromentname" jdbcType="VARCHAR" property="enviromentname"/>
    <result column="memo" jdbcType="VARCHAR" property="memo"/>
  </resultMap>

  <select id="findEnviromentName" resultMap="enviromentWithNameMap">
    SELECT a.enviromentname,a.memo
    FROM enviroment a
  </select>

  <select id="findEnviromentWithName" resultMap="enviromentWithNameMap">
    SELECT a.*
    FROM enviroment a
    <where>
      <if test="enviromentname != null and enviromentname != ''">a.enviromentname like CONCAT('%',#{enviromentname},'%')</if>
    </where>
    order by lastmodify_time  DESC
  </select>

  <select id="getenviromentnum" resultType="java.lang.Integer">
    SELECT count(*)
    FROM enviroment a
  </select>

  <update id="updateEnviroment" parameterType="com.zoctan.api.entity.Enviroment">
    update enviroment set enviromentname = #{enviromentname},envtype=#{envtype},
    memo = #{memo},creator = #{creator}, lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>
</mapper>