<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.EnvmachineMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Envmachine">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="envid" jdbcType="BIGINT" property="envid" />
    <result column="enviromentname" jdbcType="VARCHAR" property="enviromentname" />
    <result column="machineid" jdbcType="BIGINT" property="machineid" />
    <result column="machinename" jdbcType="VARCHAR" property="machinename" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <select id="findEnvAndMacWithName" resultMap="BaseResultMap">
    select c.*, a.ip from machine a  ,envmachine c
    <where>
      a.id=c.machineid
      <if test="enviromentname != null and enviromentname != ''">and c.enviromentname like CONCAT('%',#{enviromentname},'%')</if>
      <if test="machinename != null  and machinename != ''">and c.machinename like CONCAT('%',#{machinename},'%')</if>
    </where>
    order by lastmodify_time  DESC
  </select>

  <select id="findexist" resultMap="BaseResultMap">
    select * from envmachine a
    where  a.enviromentname= #{enviromentname} and a.machinename =#{machinename}
  </select>

  <select id="findexistwithoutself" resultMap="BaseResultMap">
    select * from envmachine a
    where  a.enviromentname= #{enviromentname} and a.machinename =#{machinename} and a.id != #{id}
  </select>

  <select id="listAllEnvAndMac" resultMap="BaseResultMap">
    select c.*, a.ip from machine a  ,envmachine c
    where  a.id=c.machineid
  </select>

  <select id="findmachinebyid" resultMap="BaseResultMap">
    select * from envmachine
    where  machineid=#{machineid}
  </select>

  <select id="findmachinebyenvid" resultMap="BaseResultMap">
    select * from envmachine
    where  envid=#{envid}
  </select>



  <update id="updateEnvAndMac" parameterType="com.zoctan.api.entity.Envmachine">
    update envmachine set envid = #{envid}, machineid = #{machineid},machinename= #{machinename},
    enviromentname= #{enviromentname},creator = #{creator},
    lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>
</mapper>