<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ExecuteplanParamsMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.ExecuteplanParams">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="executeplanid" jdbcType="BIGINT" property="executeplanid" />
    <result column="paramstype" jdbcType="VARCHAR" property="paramstype" />
    <result column="keyname" jdbcType="VARCHAR" property="keyname" />
    <result column="keyvalue" jdbcType="LONGVARCHAR" property="keyvalue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <select id="getParamsbyepid" resultMap="BaseResultMap">
    SELECT *
    FROM executeplan_params a where a.executeplanid=#{executeplanid}
  </select>

  <update id="updateParams" parameterType="com.zoctan.api.entity.ExecuteplanParams">
    update executeplan_params set paramstype = #{paramstype},keyname =#{keyname}, keyvalue = #{keyvalue},
                          lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
    where id = #{id};
  </update>

  <delete id="removeplanparams">
    DELETE from executeplan_params where  executeplanid = #{executeplanid}
  </delete>
</mapper>