<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.PlanbantchexeclogMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Planbantchexeclog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="batchid" jdbcType="BIGINT" property="batchid" />
    <result column="exec_time" jdbcType="VARCHAR" property="execTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="memo" jdbcType="LONGVARCHAR" property="memo" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <select id="GetPlanExecLog" resultMap="BaseResultMap">
    SELECT a.*
    FROM planbantchexeclog a
    where a.batchid=#{batchid} and exec_time =#{exec_time}
  </select>

  <select id="GetPlanExecLogToday" resultMap="BaseResultMap">
    SELECT *
    FROM planbantchexeclog
    where batchid=#{batchid} and exec_time =#{exec_time} and create_time  between
        DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%s') and  DATE_FORMAT(date_sub(curdate(),interval -1 day),'%Y-%m-%d %H:%i:%s')
  </select>


  <insert id="SaveExecLog">
    insert into planbantchexeclog(batchid,exec_time,memo,create_time,lastmodify_time)
    values(#{batchid},#{exec_time},memo=#{memo}, DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s'), DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s'))
  </insert>
</mapper>