<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.StaticsDeployunitandcasesMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.StaticsDeployunitandcases">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="deployunitid" jdbcType="BIGINT" property="deployunitid" />
    <result column="deployunitname" jdbcType="VARCHAR" property="deployunitname" />
    <result column="passrate" jdbcType="DOUBLE" property="passrate" />
    <result column="totalcases" jdbcType="BIGINT" property="totalcases" />
    <result column="totalpasscases" jdbcType="BIGINT" property="totalpasscases" />
    <result column="totalfailcases" jdbcType="BIGINT" property="totalfailcases" />
    <result column="runtime" jdbcType="BIGINT" property="runtime" />
    <result column="statics_date" jdbcType="TIMESTAMP" property="staticsDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="projectid" jdbcType="BIGINT" property="projectid" />
  </resultMap>

  <select id="getdeployunitstatics" resultMap="BaseResultMap">
    SELECT *
    FROM statics_deployunitandcases
    where statics_date>=#{statics_date}
  </select>

  <insert id="savestaticsdeployunitandcases">
    INSERT INTO statics_deployunitandcases (deployunitid,deployunitname,passrate, totalcases,totalpasscases,totalfailcases,runtime,statics_date,create_time,lastmodify_time,projectid)
    VALUES
    <foreach collection="casedataList" item="item" index="index" separator=",">
      (#{item.deployunitid}, #{item.deployunitname}, #{item.passrate}, #{item.totalcases}, #{item.totalpasscases}, #{item.totalfailcases}, #{item.runtime},DATE_FORMAT(#{item.staticsDate},'%Y-%m-%d'),DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s'), DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s'), #{item.projectid})
    </foreach>
  </insert>
</mapper>