<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.MacdepunitMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Macdepunit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="depunitid" jdbcType="BIGINT" property="depunitid" />
    <result column="assembleid" jdbcType="BIGINT" property="assembleid" />
    <result column="deployunitname" jdbcType="VARCHAR" property="deployunitname" />
    <result column="assembletype" jdbcType="VARCHAR" property="assembletype" />
    <result column="machineid" jdbcType="BIGINT" property="machineid" />
    <result column="machinename" jdbcType="VARCHAR" property="machinename" />
    <result column="envid" jdbcType="BIGINT" property="envid" />
    <result column="enviromentname" jdbcType="VARCHAR" property="enviromentname" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="visittype" jdbcType="VARCHAR" property="visittype" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <select id="findMacAndDepWithName" resultMap="BaseResultMap">
    select c.* from macdepunit c
    <where>
      <if test="enviromentname != null and enviromentname != ''">and c.enviromentname like CONCAT('%',#{enviromentname},'%')</if>
      <if test="deployunitname != null and deployunitname != ''">and c.deployunitname like CONCAT('%',#{deployunitname},'%')</if>
      <if test="machinename != null  and machinename != ''">and c.machinename like CONCAT('%',#{machinename},'%')</if>
    </where>
  </select>

  <select id="findmachinenumbyenvidanddeployid" resultType="java.lang.Integer">
    select COUNT(*) from macdepunit a where a.envid = #{envid} and depunitid =#{depunitid}
  </select>

  <select id="getmacdepbyenvidanddepid" resultMap="BaseResultMap">
    select * from macdepunit a where a.envid = #{envid} and a.depunitid =#{depunitid}
  </select>

  <select id="getmacdepbyenvidandassmbleid" resultMap="BaseResultMap">
    select * from macdepunit a where a.envid = #{envid} and a.assembleid =#{assembleid}
  </select>

  <update id="updateMacAndDep" parameterType="com.zoctan.api.entity.Envmachine">
    update macdepunit set depunitid =#{depunitid}, assembleid = #{assembleid}, machineid = #{machineid}, envid = #{envid},
     enviromentname = #{enviromentname}, deployunitname = #{deployunitname},assembletype = #{assembletype}, machinename= #{machinename},
     visittype = #{visittype},domain= #{domain},creator = #{creator},
    lastmodify_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s')
    where id = #{id};
  </update>
</mapper>